@import "~bourbon/app/assets/stylesheets/bourbon";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/variables";
@import "../partials/variables";

.cart-grid {
    margin-bottom: 16px;
}
.cart-items {
    margin-bottom: 0;
}
.cart-item {
    padding: 16px 0;
}
.cart-summary-line {
    clear: both;


    .label {
        padding-left: 0;

        font-weight: normal;

        white-space: inherit;
    }
    .value {
        color: $gray-darker;
    }
    &.cart-summary-subtotals {
        .label,
        .value {
            font-weight: normal;
        }
    }
}
/** CART BODY **/
.cart-grid-body {
    margin-bottom: 12px;
    a.label {
        &:hover {
            color: $brand-primary;
        }
    }
    .card-block {
        padding: 16px;
        h1 {
            margin-bottom: 0;
        }
    }
    hr {
        margin: 0;
    }
    .cart-overview {
        padding: 16px;
    }
}
/** CART RIGHT **/
.cart-grid-right {
    hr {
        margin: 0;
    }
    .promo-discounts {
        margin-bottom: 0;
        .cart-summary-line {
            .label {
                color: $gray-dark;
                .code {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
    }
}
.block-promo {
    .promo-code {
        padding: 1.60rem;

        background: $gray-light;
        .alert-danger {
            position: relative;

            display: none;
            margin-top: 20px;

            color: white;
            background: $brand-danger;
            &::after {
                position: absolute;
                bottom: 100%;
                left: 10%;

                width: 0;
                height: 0;
                margin-left: -10px;

                content: " ";
                pointer-events: none;

                border: solid transparent;
                border-width: 10px;
                border-bottom-color: $brand-danger;
            }
        }
    }
    .promo-input {
        width: 60%;
        height: 40px;

        text-indent: 10px;

        color: $gray-darker;
        border: $gray 1px solid;
        + button {
            margin-top: -4px;

            text-transform: capitalize;
        }
    }
    .cart-summary-line .label,
    .promo-name {
        font-weight: 600;

        color: $brand-warning;
        a {
            display: inline-block;

            font-weight: normal;

            color: $gray-darker;
        }
    }
    .promo-code-button {
        display: inline-block;
        padding-left: 20px;
        margin-bottom: 20px;
    }
    &.promo-highlighted {
        padding: 20px;
        padding-bottom: 0;
        margin-bottom: 0;
    }
}
/** CONTENT LEFT **/
.product-line-grid-left {
    img {
        max-width: 100%;
    }
}
/** CONTENT BODY **/
.product-line-grid-body {
    > .product-line-info {
        > .label {
            padding: 0;

            line-height: inherit;

            text-align: left;
            white-space: inherit;
        }
        > .out-of-stock {
            color: red;
        }
        > .available {
            color: $brand-success;
        }
        > .unit-price-cart {
            padding-left: .3125rem;

            font-size: .875rem;

            color: $gray-dark;
        }
    }
}
/** CONTENT LEFT **/
.product-line-grid-right {
    .bootstrap-touchspin {
        width: 68px;

        box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, .15);

        > .form-control, > .input-group {
            width: 48px;
            height: $input-height;
            padding: .175rem .5rem;

            color: $gray-darker;
            background-color: white;
        }
        > .input-group-btn-vertical {
            width: auto;
        }
    }
    .cart-line-product-actions,
    .product-price {
        line-height: 36px;

        color: $gray-darker;
        .remove-from-cart {
            display: inline-block;
            margin-top: 5px;

            color: $gray-darker;
        }
    }
}

/*** Responsive part ***/
@include media-breakpoint-down(sm) {
    .product-line-grid-body {
        margin-bottom: 16px;
    }
}

@include media-breakpoint-down(xs) {
    .cart-items {
        padding: 16px 0;
    }
    .cart-item {
        border-bottom: 1px solid $gray-light;
        &:last-child {
            border-bottom: 0;
        }
    }
    .cart-grid-body {
        .cart-overview {
            padding: 0;
        }
        .no-items {
            display: inline-block;
            padding: 16px;
        }
    }
    .product-line-grid-left {
        padding-right: 0 !important;
    }
}

@media (max-width: 360px) {
    .product-line-grid-right {
        .qty {
            width: 100%;
        }
        .price {
            width: 100%;
        }
    }
}
