@import "~bourbon/app/assets/stylesheets/bourbon";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/variables";
@import "../partials/variables";
@import "../partials/_mixins";


.block_newsletter {
    margin-bottom: 10px;

    font-size: $font-size-sm;

    @include search-box;
    p {
        padding-top: $small-space;
    }
    form {
        .input-wrapper {
            overflow: hidden;
        }
        input[type=text] {
            width: 100%;
            padding: 11px;
            &:focus {
                padding: 8px 8px 9px;

                border: 3px $brand-primary solid;
                outline: 0;
            }
        }
        input {
            height: 42px;
        }
    }
}
.block-contact {
    padding-left: 48px;

    color: $gray;
    border-left: $gray-light 2px solid;
    .block-contact-title {
        color: $gray-darker;
    }
}
.linklist {
    .blockcms-title a {
        color: $gray-darker;
    }
}
.account-list a {
    color: $gray;
    &:hover {
        color: $brand-primary;
    }
}
.blockcms-title,
.myaccount-title,
.myaccount-title a,
.block-contact-title {
    font-size: $base-font-size;
    font-weight: 700;
}
.block-social {
    text-align: right;
}
.block-social li {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 2px;

    cursor: pointer;

    background-color: $gray-light;
    background-repeat: no-repeat;
    &:hover {
        background-color: $brand-primary;
    }
    a {
        display: block;
        height: 100%;
        overflow: hidden;

        white-space: nowrap;
        text-indent: 100%;
        &:hover {
            color: transparent;
        }
    }
}
.facebook {
    background-image: url(../img/facebook.svg);
    &::before {
        content: "";

        background-image: url(../img/facebook-blue.svg);
    }
    &.icon-gray {
        background-image: url(../img/facebook-gray.svg);
        &:hover {
            background-image: url(../img/facebook-blue.svg);
        }
    }
}
.twitter {
    background-image: url(../img/twitter.svg);
    &::before {
        content: "";

        background-image: url(../img/twitter-blue.svg);
    }
    &.icon-gray {
        background-image: url(../img/twitter-gray.svg);
        &:hover {
            background-image: url(../img/twitter-blue.svg);
        }
    }
}
.rss {
    background-image: url(../img/rss.svg);
}
.youtube {
    background-image: url(../img/youtube.svg);
}
.googleplus {
    background-image: url(../img/gplus.svg);
    &::before {
        content: "";

        background-image: url(../img/gplus-blue.svg);
    }
    &.icon-gray {
        background-image: url(../img/gplus-gray.svg);
        &:hover {
            background-image: url(../img/gplus-blue.svg);
        }
    }
}
#block_myaccount_infos {
    .myaccount-title a {
        color: $gray-darker;
    }
}
.pinterest {
    background-image: url(../img/pinterest.svg);
    &::before {
        content: "";

        background-image: url(../img/pinterest-blue.svg);
    }
    &.icon-gray {
        background-image: url(../img/pinterest-gray.svg);
        &:hover {
            background-image: url(../img/pinterest-blue.svg);
        }
    }
}
.vimeo {
    background-image: url(../img/vimeo.svg);
}
.instagram {
    background-image: url(../img/instagram.svg);
}
.footer-container {
    padding-top: $medium-space;
    margin-top: $medium-space;
    overflow: hidden;

    box-shadow: 2px 2px 11px 0 rgba(0, 0, 0, .3);
    li {
        margin-bottom: 5px;
    }
    li a {
        font-size: $font-size-sm;

        cursor: pointer;

        color: $gray-dark;
        &:hover {
            color: $brand-primary;
        }
    }
    .links {
        .collapse {
            display: inherit;
        }
    }
}

@include media-breakpoint-down(sm) {
    .block_newsletter {
        padding-bottom: 10px;

        border-bottom: 1px solid $gray-lighter;
    }
    .footer-container {
        margin-top: 0;

        box-shadow: none;
        .wrapper {
            padding-right: 0 !important;
            padding-left: 0 !important;
        }
        .links {
            .h3 {
                font-size: 16px;
                line-height: 1.5;
            }
            .title {
                padding: 10px;

                cursor: pointer;

                border-bottom: 1px solid $gray-lighter;
                .collapse-icons .remove {
                    display: none;
                }
            }
            .title[aria-expanded="true"] .collapse-icons {
                .add {
                    display: none;
                }
                .remove {
                    display: block;
                }
            }
            .navbar-toggler {
                display: inline-block;
                padding: 0;
            }
            .collapse {
                display: none;
                &.in {
                    display: block;
                }
            }
            ul {
                margin-bottom: 0;

                background-color: $gray-lighter;
                > li {
                    padding: 10px;

                    font-weight: bold;

                    border-bottom: 1px solid white;
                    a {
                        color: $gray-darker;
                    }
                }
            }
        }
    }
}
@include media-breakpoint-down(md) {
    .block-social {
        text-align: center;
    }
    .block-contact {
        padding-left: 24px;
    }
}
